<p>Productos</p>
<button class="btn btn-primary" type="button" [routerLink]="['/productos/form']">Crear</button>

<div class="col-md-12 row mb-2">
  <div class="col-md-2">
    <label>Buscar</label>
  </div>
  <div class="col-md-8">
    <input [(ngModel)]="id" class="form-control" type="number" placeholder="buscar por Id">
  </div>
  <div class="col-md-1">
    <button class="btn btn-secondary" (click)="buscar()">Buscar</button>
  </div>
  <div class="col-md-1">
    <button class="btn btn-secondary" (click)="limpiar()">Limpiar</button>
  </div>

</div>

<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Codigo de inventario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th>{{product.id}}</th>
        <th>{{product.name}}</th>
        <td>{{product.amount}}</td>
        <td>{{product.inventaryCode}}</td>
        <td><button type="button" [routerLink]="['/productos/form',product.id]" class="btn btn-warning"> Editar</button></td>
        <td><button type="button" (click)="destroy(product)" class="btn btn-danger"> Eliminar</button></td>
      </tr>
    </tbody>
  </table>
